
.product-image {
    margin-right: 40px;
    text-align: left;
    width:max-content;
    padding: 10px;
    overflow: hidden;
    img {
      max-width: 100px;
      max-height: 100px;

    }
  }
  .totals
  {
    display: block;
    float: right;
  }
  .totals-value
  {
    width:71%;
    text-align: right;
  }
  
  .totals-item
  {
    text-align:left;
    display: flex;
    align-self: flex-end;
    width:300px;
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', sans-serif;
    
  }
  
  .cart {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: auto;
  }
  
  .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: font-bold;
    font-size: 12px;
    border-radius: 3px;
  }

  tr
  {
    border-top: thick;
    border-top: 2px solid coral;
  }
    .product-title {
        margin-right: 80px;
     
    }
    .product-description {
        margin-right: 40px;
        width:300px;
        font-family: Arial,sans-serif;
      
    }
  
  
  .product-quantity {
    margin-right: 40px;
    input {
      width: 40px;
     
      
    }
  }

