
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,800&family=Roboto:ital,wght@1,700&display=swap');

   
      .navlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
      }
     .navimage
     {
      height: 200px;
     }
     .logoutbox
     {
      position: absolute;
      right:40px;
      top:40px;
      width:50px;
      height:50px;
      color: red;
     }
      .ad
      {
        float: left;
       

      }
      .websitenamez {
        margin-top: 10px;
        color: red;
        text-align: center;
        font-family: 'EB Garamond', serif;/* Choose a suitable font-family */
        font-size: 24px; /* Adjust the font size as needed */
        font-weight: bold; /* Use a bold font-weight for prominence */
        text-transform: uppercase; /* Convert the text to uppercase */
        letter-spacing: 2px; /* Adjust letter spacing for spacing between characters */
      }
      
      .ad > button
      {
        margin-left: 10px;
        margin-top: 8px;
        width: 40px;
        height: 40px;
        outline:0;
        background-image: url("zi.jpg");
        background-size: cover;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
      }
      .searchform {
        display: flex;
        max-width: 600px;
        align-items: center;
    }
    .submenu {
      float:none;
      display: none;
      position: absolute;
      background-color: blue;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 1;
   
    }
    .submenu li {
    float: none;
  padding: none;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.2s;
    }
    .submenu li a
    {
      padding: none;
    }
    

      .in {
        margin-top: 10px;
        align-items:center;
        width: 500px;
        padding:0px;
        flex: 1;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        height:30px;
        outline: none;
    }
    .pro
    {
      height:40px;
      width:40px;
      border-radius:50%;
      margin-top:5px;
     
    }
    .prolink
    {
      padding: 0px;
    }
      img
      {
       width: 100%;
       height: 400px;
      }
      li {
        float: right;
        margin-right: 40px;
      }
      
      li a {
      
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
      }
     li a:hover 
      {
        background-color: rgba(0, 136, 169, 1);
      }
      li:hover .submenu
      {
        display: block;
      }
      
      
     


  
      

    
  

  
  
  