
    .loginbox {
		position: fixed;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 500px;
        text-align: center;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		overflow: auto;
    }

	.loginbox >	.close-button {
		position: absolute;
		top: 15px;
		right: 5px;
		cursor: pointer;
		font-size: 18px;
		color: #555;
		background-color: white;
	    box-sizing: border-box;
		width:5px;
		background-color: gray;
		padding: 0px;
	
	  }
.loginbox form {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.loginbox input {
	padding: 12px 15px;
	margin: 8px 0;
	outline: none;
	width: 100%;
	border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.loginbox input:focus{
    border-color: #4070f4;
  }
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

 .loginbox button{
	border-radius: 20px;
	border: 1px solid #4070f4;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
	margin-right: 6px;
}

 .loginbox  button:focus {
	outline: none;
}

.loginbox span
{
    font-size: 12px;
}

.loginbox  button:active
{
    transform: scale(0.95);
}
